.globalNav{
    //display:none; //hides at small screen
    border-top: 1px solid #669fe2;
    border-bottom: 1px solid #669fe2;
    height: auto;
    z-index: 1;
    .orgSelect{
        margin-left: 30px;
        display: inline-block;
        min-width: 150px;
        margin-right: 1rem;
        color: #959595;
        label{
            @extend .sr-only;
        }
    }
    .productName {
        display: inline-block;
        text-indent: 1rem;
        padding-right: 2rem;
        p{
            padding-bottom:0;
            
        }
    }
    a.menuLink{
        background: #d9edfd;
        border: none;
        box-sizing: content-box;
        color: #4c4c4c;
        display: inline-block;
        height: 25px;
        min-width: 100px;
        padding: .4rem 1.5rem 0 1rem;
        position: static;
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
        width: auto;
        margin-right: .4rem;
        &:hover{
            background: #e5991c;
            color: #fff;
            text-decoration: none;
        }
    }
    .custom-dropdown {
        border-right: 0px solid #cecece;
        display: inline-block;
        margin-right: .4rem;
        min-width: 160px;
        padding-left: 0;
        vertical-align: top;
        width: auto;
        button.dropdownTrigger {
            height: 30px;
            min-width: 160px;
            padding: 0 1rem 0 1rem;
            background: #d9edfd;
            border: none;
            color: $primary-4;
            text-align: left;
            white-space: nowrap;
            width: auto;
            position: static;
            box-sizing: content-box;
            &::after {
                position: static;
                font-family: fontAwesome;
                border: 0px solid #eee;
                background: #eee;
                padding-right: 1rem;
                float: right;
                padding-left: 1rem;
                content: "\f0da";
                color: #669fe2;
                font-size: 1.5rem;
                line-height: 1;
            }
        }
        
        &:hover{
            button.dropdownTrigger {
                background: #e5991c;
                color: #fff;
                border-bottom: 0px solid #eee;             
                &::after {
                    background: #e5991c;
                    border-color: #e5991c;
                    color: #fff;
                    border-bottom: 0px solid #e5991c;
                    content: "\f0d7";              
                }
            }
            
            .dropdownContent {
                max-height: 500px;
                opacity: 1;
            }
        }
        .dropdownContent{
            max-height: 0;
            background: #fcf6d9;
            overflow-y: auto;
            min-width: 130%;
            position: absolute;
            z-index: 2;
            transition: max-height .7s, opacity .2s;
            top: 30px;
            transition-timing-function: ease-in-out;
            border: 1px solid #e5991c;
            opacity: 0;
            a.menuLink{
                background: #fcf6d9;
                border-bottom: 1px solid #e5991c;
                padding: .3rem .5rem;
                white-space: normal;
                height: auto;
                margin-right: 0;
                &:hover, &:focus {
                    background: #e5991c;
                    color: #fff;
                }
            }
        }
        &.open {
            button.dropdownTrigger {
                background: #cecece;
                &::after {
                    background: #cecece;
                    border-color: #cecece;
                    border-bottom:1px solid #eee;                
                    
                }
            }
            .dropdownContent{
                top:30px;
                padding:0
            }
        }
    }
    &> ul {
        display:inline-block;
        margin: 0;
        &> li {
            display: inline-block;
            vertical-align: top;
            text-indent: 1rem;
            height: 30px;
            line-height: 1.9rem;
            min-width: 150px;
            button {
                width: 100%;
                padding: 0 .5rem;
                background: none;
                border: none;
                color: #fff;
                text-align: left;
            }
            &> ul {
                list-style: none;
                padding: 0;
                background: black;
                color: #fff;
                max-height: 0;
                transition: all 600ms;
                transition-delay: 200ms;
                overflow: hidden;
                &>li {
                    padding: .2rem .5rem;
                }
            }
            &:hover{
                background: #cecece;
                color: black;
                &> ul {
                    max-height: 200px;
                    li:hover{
                        background: #cecece;
                        color: black;
                    }
                }
            }
        }
    }
}





.title-con {
    .title{
        font-size: 1em;
        font-weight: normal;
        margin-left:10px;
    }
}



.scroll-to-top {
    position: fixed;
    bottom: 120px;
    right: 25px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.show-scroll {
    opacity: 1;
    //right: 15px;
    transition: all .2s ease-in-out;
}
