.globalNav{
    //display:none; //hides at small screen
    padding-left: 1rem;
    height: auto;
    z-index: 22;
    .orgSelect{
        margin-left: 30px;
        display: inline-block;
        min-width: 150px;
        margin-right: 1rem;
        color: #959595;
        label{
            @extend .sr-only;
        }
    }
    .productName {
        display: inline-block;
        text-indent: 1rem;
        padding-right: 2rem;
        p{
            padding-bottom:0;
        }
    }
    a.menuLink{
        background: #d9edfd;
        box-sizing: content-box;
        color: #4c4c4c;
        display: inline-block;
        height: 27px;
        min-width: 100px;
        padding: .4rem 1.5rem 0 1rem;
        position: static;
        text-align: left;
        vertical-align: top;
        white-space: nowrap;
        width: auto;
        margin-right: .4rem;
        border-left: 1px solid $primary-2;
        border-right: 1px solid $primary-2;
        border-top-color: transparent;
        border-bottom-color: transparent;
        &:hover{
            background: $primary-4;
            color: #fff;
            text-decoration: none;
        }
    }
    .custom-dropdown {
        border-right: 0px solid #cecece;
        display: inline-block;
        min-width: 160px;
        padding-left: 0;
        vertical-align: top;
        width: auto;
        margin-right: .4rem;
        button.dropdownTrigger {
            height: 30px;
            min-width: 160px;
            padding: 0 1rem 0 1rem;
            background: #d9edfd;
            border-top-color: transparent;
            border-left: 1px solid $primary-2;
            border-right: 1px solid $primary-2;
            border-bottom-color: transparent;
            color: $primary-4;
            text-align: left;
            white-space: nowrap;
            width: auto;
            position: static;
            box-sizing: content-box;
            &::after {
                position: static;
                font-family: fontAwesome;
                border: 0px solid #eee;
                background-color: transparent;
                padding-right: 1rem;
                float: right;
                padding-left: 1rem;
                content: "\f0da";
                color: #669fe2;
                font-size: 1.5rem;
                line-height: 1;
            }
        }
        &.active{
            button.dropdownTrigger {
                background: $primary-5;
                color: #fff;
                border-bottom: 0px solid #eee;            
                &::after {
                    background: $primary-5;
                    border-color: $primary-5;
                    color: #fff;
                    border-bottom: 1px solid transparent;
                }
            }
        }
        &:hover{
            button.dropdownTrigger {
                background: $primary-4;
                color: #fff;
                border-bottom: 1px solid transparent;            
                &::after {
                    background: $primary-4;
                    border-color: $primary-4;
                    color: #fff;
                    border-bottom: 0px solid $primary-4;
                    content: "\f0d7";              
                }
            }
            
            .dropdownContent {
                max-height: 500px;
                opacity: 1;
            }
        }
        .dropdownContent{
            max-height: 0;
            background: #fcf6d9;
            overflow-y: auto;
            min-width: 130%;
            position: absolute;
            z-index: 2;
            transition: max-height .7s, opacity .2s;
            top: 30px;
            transition-timing-function: ease-in-out;
            border: 1px solid $primary-5;
            opacity: 0;
            nm-link:not(:last-child) a.menuLink {
                border-bottom: 1px solid $primary-5;
            }
            a.menuLink{
                background: #fcf6d9;
                border: none;
                padding: .3rem .5rem;
                white-space: normal;
                height: auto;
                margin-right: 0;
                &:hover, &:focus {
                    background: $primary-4;
                    color: #fff;
                }
                &.active {
                    background: $primary-5;
                    color: #fff;
                }
            }
        }
        &.open {
            button.dropdownTrigger {
                background: #cecece;
                &::after {
                    background: #cecece;
                    border-color: #cecece;
                    border-bottom:1px solid #eee;                
                    
                }
            }
            .dropdownContent{
                top:30px;
                padding:0
            }
        }
    }
    &> ul {
        display:inline-block;
        margin: 0;
        &> li {
            display: inline-block;
            vertical-align: top;
            text-indent: 1rem;
            height: 30px;
            line-height: 1.9rem;
            min-width: 150px;
            button {
                width: 100%;
                padding: 0 .5rem;
                background: none;
                border: none;
                color: #fff;
                text-align: left;
            }
            &> ul {
                list-style: none;
                padding: 0;
                background: black;
                color: #fff;
                max-height: 0;
                transition: all 600ms;
                transition-delay: 200ms;
                overflow: hidden;
                &>li {
                    padding: .2rem .5rem;
                }
            }
            &:hover{
                background: #cecece;
                color: black;
                &> ul {
                    max-height: 200px;
                    li:hover{
                        background: #cecece;
                        color: black;
                    }
                }
            }
        }
    }
}


.title-con {
    .title{
        font-size: 1em;
        font-weight: normal;
        margin-left:10px;
    }
}

.scroll-to-top {
    position: fixed;
    bottom: -50px;
    right: 20px;
    opacity: 0;
    transition: all .2s ease-in-out;
    z-index: 2;
    &.show-scroll {
        opacity: 1;
        bottom: 0px;
    }
    .scrollToTop {
        border-radius: .4rem .4rem 0 0;
        background: $primary-2;
        border: $primary-2;
       &:hover {
            background: $primary-1;
            border: $primary-1;
            color: #fff;
        }
    }
}

@media screen and (min-width: 576px)  {
    .globalNav{
        border-bottom: 1px solid $primary-2;
        background: #fff;
        .ui-panelmenu-panel:hover .hassubmenu.ui-panelmenu-header + .ui-panelmenu-content-wrapper {
            height: auto !important;
        }
        .ui-panelmenu-panel .hassubmenu.ui-panelmenu-header + .ui-panelmenu-content-wrapper {
            height: 0 !important;
        }
    }
// panel menu component to look like global nav
.main-content.hasGlobalNav.withInfoBar {
    padding-top: 50px;
}
    nav.section-nav.globalNav {    
        height: auto;
        width: 100%;
        margin: 0 ;
        padding: 0;
        nm-panelmenu {
            display: flex;
            flex: 1;
            .ui-panelmenu {
                display: flex;
                flex: 1;
                margin-bottom: 0;
                .ui-panelmenu-panel {
                    flex: 1;
                    display: flex;
                    margin-bottom: 0;
                    .ui-widget.ui-panelmenu-header {
                        display: flex;
                        flex: 1;
                        .ui-panelmenu-header-link {
                            flex: 1;
                        }
                        .ui-menuitem-text {
                            white-space: nowrap;
                            text-overflow: ellipsis;
                            clip: inherit;
                            margin: inherit;
                            opacity: inherit;
                            padding: 0;
                            position: static;
                            transition: inherit;
                            width: calc(100% - 2rem);
                            display: inline-block;
                            height: auto;
                        }
                    }
                }
            }
            .ui-panelmenu-content-wrapper {
                position: absolute;
                z-index: 2;
                min-width: 250px;
                left: 0;
                top: 100%;
            }
        }
    }  
}
