$headerHeight: 100px;
$header-userIcon-height: 3.3rem;
$header-faIcon-size: 3.3rem;
$header-search-bkg: rgb(51, 121, 190);
$header-btn-height: 55px;
$header-dropdown-marginTop: 6px;


$primary-1:#006BC2;
$primary-2:#669fe2;
$primary-3:#edf7ff;
$primary-4:#4c4c4c;
$primary-5: #e5991c;
$primary-6: #9dd3f7;

$secondary-1: #014b87;
$secondary-2: #d9edfd;
$secondary-3: #b8d4e8;
$secondary-4: #b9b6b6;
$secondary-5: #ebebeb;
$secondary-6: #5aa00d;

$tertiary-1: #94acbc;
$tertiary-2: #e8e5e5;
$tertiary-3: #b8e986;
$tertiary-4: #ff6666;
$tertiary-5: #f4c70f;
$tertiary-6: #fcf6d9;



/* $iconColor: #e19926; */
$text-grey-lite: #959595;

$toolbar-height: 123px;
$globalNav-height: 30px;
$globalNav-background-color:#333;
$globalNav-font-color: #fff;


$sidebar: #034b7c;

$focus-outline-setting: #8FBEE6 solid 2px;
$footer-bkg : #343a40;
$footer-height-nimbus: 120px;
$footer-color : #fff;

$border-color: #bbd3e8;



$bg-alternate-color-odd: #fff;
$bg-alternate-color-even: #e6e6e6;


/* bootstrap dependencies */
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}
.text-sm-left {
    text-align: left!important;
}
.text-sm-center {
    text-align: center!important;
}
[hidden]{
    display: none !important;
}
.col-12, .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
.col-md-4 {
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.col-lg-3{
    flex: 0 0 25%;
    max-width: 25%;
}
.col-lg-2 {
    flex: 0 0 16.66667%;
    max-width: 16.66667%;
}
.col-lg-2, .col-lg-3,.col-md-3, .col-md-4,.col-md-6, nm-frm-grp.inline {
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

//for sample page
.example {
    margin: 3rem 0;
    position: relative;

    &::before {
        content: "Example";
        display: inline-block;
        position: absolute;
        top: -1.3rem;
        font-size: 1.2rem;
        font-weight: 200;
        text-transform: lowercase;
    }
}
.headStyle-1 {
    background: #4c4c4c;
    line-height: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: inline-block;
    color: white;
    padding: .4rem .8rem .4rem .2rem;
    border-radius: .2rem;
    font-weight: 200;
    text-transform: uppercase;
}

.headStyle-2 {
    font-weight: 200;
    font-size: 2rem;
    margin: 5rem 0 1.5rem 0;
    line-height: 1.3rem;
}