.ui-fileupload {
    margin-top: 1rem;
    .ui-fileupload-buttonbar.ui-widget-header {
        text-align: left;
        border: 1px solid #CECECE;
    }
    .ui-fileupload-content.ui-widget-content {
            border: 1px solid #CECECE;
    }    
}
