// screen breaks below
@media screen and (min-width: 576px) and (max-width: 991px) {
    .ui-menuitem-text {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        border: 0;
        opacity: 0;
        -webkiit-transition: opacity 300ms;
        transition: opacity 300ms;
    }
    .ui-submenu-list {
        .ui-menuitem-text {
            height: auto;
            opacity: 1;
            position: static;
            margin: 0;
        }
    }
    .ui-panelmenu-icon{
        bottom: -6px;
        position: absolute;
        right: -2px;
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
        font-size: 1.6rem;
        width: 1rem;
        transition: font-size 400ms;
        transition: all 400ms;
        &.fa-caret-right{
            -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
        }
    }

    .ui-panelmenu .ui-panelmenu-header-link:hover .ui-panelmenu-icon {
        -webkit-transform: rotate(45deg) scale(1.3);
        transform: rotate(-45deg) scale(1.3);
        &.fa-caret-right{
            -webkit-transform: rotate(45deg) scale(1.3);
            transform: rotate(45deg) scale(1.3);
        }
    }


    @keyframes sideNav {
        0%   {}
        25%  {}
        50%  {}
        75%  {}
        100% {height:auto;}
    }
    

    .ui-panelmenu-content-wrapper {
        position: absolute;
        left: 105%;
        z-index: 1;
        top: 0;
        width: 0;
        transition: all 400ms;
        li{
            height: 2.1rem;
            transition: all 400ms;
            animation-name: sideNav;
        }

    }

    .ui-panelmenu-panel:hover .ui-panelmenu-content-wrapper {
        width: 350px;
        opacity: 1;
    }
    nav.section-nav.globalNav .ui-panelmenu-panel .ui-panelmenu-content-wrapper {
        max-height: 0;
        width: inherit;
    }
    nav.section-nav.globalNav .ui-panelmenu-panel:hover .ui-panelmenu-content-wrapper {
        max-height: 800px;  
        overflow-y: auto;
    }
  
}

@media screen and (max-width: 575px)  {
    .browserFixed .info-card.page-content {
        height: auto !important;
    }
}

@media screen and (min-width: 576px)  {
    .section-nav,
    &.show,
    &.collapsing {
        width: auto;
        position: static;
    }
    .header {
        position: relative;
    
        .headerMenu {
            position: static;
            padding-right: 20px;
            .navbar-collapse {
                background: none;
                border: none;
                margin-top: 0;
                padding: 0;
                display: block !important;
                .btn-group{
                    padding-top: 0;
                    .btn{
                        display: inline-block;
                    }
                }
                .topLinksMenu {
                    padding: 0 0 .5rem 0;
                }
            }
        }
    }
    .main-content{
        padding: 0 ;
    }
    nm-breadcrumb{
        display: block;
    }
    
    .ui-panelmenu-header-link {
        min-height: 34px;
        
    }
    .ui-panelmenu{
        width: 36px;
        -webkiit-transition: width 300ms;
        transition: width 300ms;
    }
    .navbar-toggleable-md .navbar-collapse {
        z-index: 1;
        position: absolute;
        width: 400%;
        top: 0px;
        left: 38px;
        background: #fff;
    }
    .info-card{
        width: calc(100% - 36px - 1rem);
        display: inline-block;

      }
      .main-content {
        padding: 0 60px 0 1rem;
    }
    #actionTray{
        display: block;
    }
    .globalNav{
        display: block;
    }
    .textWrapBreakWord{
        display: block;
    }
    .browserFixed {
        #footer-trigger {
            display: block;
        }
        .header {
            position: fixed;
            top: 40px;
            overflow: hidden;
        }
        .wrapper {
            position: fixed;
            top: 108px;
            bottom: 50px;
            left: 20px;
            right: 60px;
            overflow: hidden;
            min-height: 0;
            z-index: 3;
        }
        .info-bar{
            flex-basis: calc(100% - 10px);
        }
        .info-card.page-content {
            overflow-y: scroll;
            flex: 1;
            height: 100%;
            width: calc(87% - 1rem);
            padding-right: 10px;
        }
        #main-content {
            &> ng-component {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                display: flex;
                flex-wrap: wrap;
            }
            .section-nav {
                width: 15%;
                flex-basis: 15%;
                overflow: auto;
                height: 100%;
                margin-right: 0;
                padding-right: 10px;
            }
            nm-breadcrumb {
                flex-basis: 100%;
            }
        }
        footer.nm-footer:hover {
            height: 200px;
        }
        footer.nm-footer {
            position: fixed;
            bottom: 0;
            height: 20px;
            min-height: 0;
            transition: height 600ms;
            transition-delay: 200ms;
            z-index: 4;
        }
    }
}

.navbar-toggleable-md .navbar-collapse {
    width: 350px;
}

@media screen and (min-width: 768px) {
  
    .logo {
        margin-left: 10px;
        margin-top: 15px;
    }
    .navbar-toggleable-md .navbar-collapse {
        width: 300px;
    }
    
}

@media screen and (min-width: 992px) {

    .ui-menuitem-text {
        position: static;
        width: auto;
        height: auto;
        padding: 0;
        margin: 0;
        overflow: hidden;
        clip: auto;
        border: 0;
        opacity: 1;
    }
    .ui-panelmenu-header-link {
        min-height: 34px;
       
    }
    .ui-panelmenu{
        width: auto;
   
    }
    .ui-panelmenu-content-wrapper {
        position: static;
    }
  .info-card{
    width: calc(100% - 13% - 1rem);
  }
    .section-nav{
        width: 13%;
    }

}

@media screen and (min-width: 1200px) {
  
}
@media screen and (min-width: 1300px) {


}

@media print {
    textarea.textarea-input {
        display: none;
    }
    input.text-input {
        display: none;
    }
    .print-only {
        display: block;
        min-height: 1.6rem;
    }
    .ui-dropdown {
        width: 100% !important;
        max-width: 100% !important;
    }
    .ui-table td:not(.dropdown) .ui-cell-data, 
    .ui-table td:not(.dropdown) > span, 
    .ui-datatable td:not(.dropdown) .ui-cell-data, 
    .ui-datatable td:not(.dropdown) > span {
        white-space: normal !important;
        overflow: visible !important;
    }

    .ui-table .ui-table-thead > tr > th > span, 
    .ui-table .ui-datatable-thead > tr > th > span, 
    .ui-datatable .ui-table-thead > tr > th > span, 
    .ui-datatable .ui-datatable-thead > tr > th > span {
        white-space: normal !important;
        overflow: visible !important;
    }

    footer {
        display: none;
    }
    .charCount{
        display: none;
    }
}

@media screen {
    pre.print-only {
        display: none;
    }
}
