.floating-toolbar.content {
    background: #eee;
   // border: 1px solid #999;
    overflow-y: auto;
    padding: 0;
    position: absolute;
    right: 3px;
    top: 0px;
    transition: width 1s;
    width: 0;
    height: 300px;
    .toolbar-header {
        position: absolute;
        top: 0;
        background: #333;
        left: 0;
        right: 0;
        color: #fff;
        &::before {
            font-family: "fontAwesome";
            content:"\f002";
            margin: .2rem .4rem;
        }
        .menuTrigger {
            right: 10px;
            position: absolute;
            color: #fff;
        }
    }
    .viewport {
        overflow-y: scroll;
        position: absolute;
        top: 30px;
        left: 0;
        right: 0;
        bottom: 0;
    }
    &.open.content {
        width: 300px;
        padding: 30px 30px 30px 10px;
    }
    &> .menuTrigger {
        opacity: 0;
    }
    &> .menuTrigger {
        width: 60px;
        height: 60px;
        border: 1px solid;
        color: #333;
        font-size: .9rem;
        text-align: center;
        background: #fff;
        opacity: 1;
        transition: opacity .3s;
        position: absolute;
        top: 0;
        right: 0;
        &::before {
            font-family: "fontAwesome";
            content:"\f002";
            display: block;
            background: blue;
            color: white;
            padding: .2rem .4rem;
            font-size: 1.2rem;
            height: 35px;
        }
        &:hover {
            text-decoration: none;
        }
    }
}

